extends templates/layout

block content 
    h1 SCSS CLONE WITH GULP
    section 
        div 
            a(href="https://replit.com/@CGJI58/ConsiderateAliceblueWatchdog" target="_blank") 
        div 
            a(href="http://replit.com/@CGJI58/BadReligion" target="_blank") 
        div 
            a(href="http://replit.com/@CGJI58/Ostrich" target="_blank") 
        div 
            a(href="http://replit.com/@CGJI58/Bluprint-1" target="_blank") 