extends templates/layout
include mixins/projectsURLs

block content 
    h1 SCSS CLONE WITH GULP
    section 
        each projectName in ["ConsiderateAliceblueWatchdog", "BadReligion", "Ostrich", "SCSS-clone-challenge-2", "SCSS-clone-challenge-3", "SCSS-clone-challenge-4", "SCSS-clone-challenge-5", "SCSS-clone-challenge-6", "SCSS-clone-challenge-7"]
                +url(projectName)