@import "_reset";
@import "_variables";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $green;
  color: whitesmoke;
  h1 {
    font-size: 32px;
  }
}
